<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <title>ExuiWeb3.0</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/css/iview.css">
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[0] %>">
</head>

<body>
<div id="app"></div>
<script type="text/javascript" src="/statics/vue.min.js"></script>
<script type="text/javascript" src="/statics/echarts.min.js"></script>
<!--<script type="text/javascript" src="/statics/mapbox-gl.js"></script>-->
<script src='/statics/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v0.40.0/mapbox-gl.css' rel='stylesheet' />
<script type="text/javascript" src="/statics/echarts-gl.min.js"></script>
<script type="text/javascript" src="/statics/jquery.min.js"></script>
<script type="text/javascript" src="<%= htmlWebpackPlugin.files.js[0] %>"></script>
<script type="text/javascript" src="<%= htmlWebpackPlugin.files.js[1] %>"></script>
</body>
</html>